/*body {
  font-family: 'Sofia';
  font-size: 22px;
}*/

/** OVERALL */
p {
  line-height: 28px;
  margin-bottom: 25px;
}

/*.right{
  text-align: right;
}*/
.centered {
    text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.vert-center{
  margin: 15px;
}

a {
  color: white;
}
a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
  flow-into: none;
}

/**HEADER/JUMBOTRON CONTENT**/
.jumbotron {
  margin: 0px auto;
  padding: 90px 30px;
  background: #D6E9FF;
  color: white;
  /*align-items: center;*/
  font-family: 'Alegreya Sans SC';
  font-size: 20px;
}

.img-circle {
    border-radius: 50%;
    width: 80%;
}

.jumbotron-name h1{
  /*color: white;*/
  font-family: 'Alegreya Sans SC';
  font-size: 80px;
  margin-bottom: 0;
}


.row-content {
  margin: 0px auto;
  padding: 0px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.contact-links {
  /*align-items: center;*/
}

.greeting {
  /*color: white;*/
  margin-top: 20px;
}

/**=======Sections==========**/

.section {
  margin-top: 40px;
  margin-bottom: 20px;
  border-bottom: 1px ridge;
}

.section-title{
  margin: 0px auto;
  padding: 10px 0px;

}

.section-content{
  text-align: center;
  margin-left: 50px;
}

.sect-content-title{
  margin: 20px;
}

.exp-desc{
  font-size: 14px;
}

.desc-img{
  width: 100%;
  align-items: center;
  display: inline-block;
  vertical-align: middle;
}
.experience-section{
  margin-left: 100px;
}

/**==Projects==**/
.projects{
  margin-left: 0px;
}
.project-content{
  margin-top: 20px;
  border-bottom: 1px ridge;
}
.right-border{
  border-right: 1px ridge;
}

.proj-img{
  width: 130px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.built-tag{
  font-size: 14px;
  background-color: lightgrey;
  border: 3px solid lightgrey;
  line-height: 200%;
}
.project-desc{
  font-size: 14px;
}
/*.jumbotron .container {
  width: 1
}*/
