/*body {
  font-family: 'Sofia';
  font-size: 22px;
}*/

/** OVERALL */

body{
  /* font-family: 'Cabin', sans-serif; */
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Roboto Slab', serif;
  /* font-family: 'Lora', serif; */
  /* font-family: 'Quicksand', sans-serif; */
  /* font-family: 'Spectral SC', serif; */
  /* font-family: 'Cormorant Garamond', serif; */ */
  font-size: 20px;
  min-width: 270px;
}
p {
  line-height: 28px;
  margin-bottom: 25px;
}

ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h5 {
  font-style: italic;
}

.top-row{
  margin-top: 20px;
  margin-left: 10px;
}
.title{
  font-size: 20px;
  color: white;
}

.logo-small{
  height: 40px;
/*   border-radius: %; */
}

.about-container{
  text-align:right;
}
.about{
  text-align: right;
  font-size: 16px;
  vertical-align: middle;
  color: white;
/*   background-color: rgba(0,0,0,.5);
  border: 3px solid rgba(0,0,0,.05); */
  line-height: 200%;
}

.about:hover,
.about:focus{
  color: grey;
  text-decoration: none;
  outline: 0;
  flow-into: none;
}

.small {
  font-size: 15px;
}
.centered {
    text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.vert-center{
  margin: 15px;
}

a {
  color: black;
  font-style:normal;
}

a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
  flow-into: none;
}

/**HEADER/JUMBOTRON CONTENT**/
.jumbotron {
  margin: 0px auto;
  padding: 90px 30px;
  background: #99A8C9;
  color: white;
  /*align-items: center;*/
  font-family: 'Roboto Slab', serif;
  /* font-family: 'Alegreya Sans SC'; */
  font-size: 15px;
}

.img-circle {
    border-radius: 50%;
    width: 70%;
}
.move-left{
  margin-left: 50px;
}

.jumbotron-name h1{
  /*color: white;*/
  font-family: 'Alegreya Sans SC';
  font-size: 80px;
  margin-bottom: 0;
}


.row-content {
  margin: 0px auto;
  padding: 0px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.contact-links {
  /*align-items: center;*/
}

.greeting {
  /*color: white;*/
  margin-top: 20px;
}

.contact-link {
  color: white;

}

/**========NAV==============**/
.navbar {
  height:40px;

}

.nav-bg{
  background-color: #D6DDEE;
}

.nav-button a{
    display: block;
    color: #fff;
    padding: 8px 20px;
}

.nav-button a:hover {
    background: #B9C4DD;
}

.nav-name{
  /* font-family: 'Alegreya Sans SC'; */
  margin-top: 25px;
  color: #2D4273;
  font-family: 'Cabin', sans-serif;
  /* font-family: 'Source Sans Pro', sans-serif; */
  /* font-family: 'Roboto Slab', serif; */
  /* font-family: 'Lora', serif; */
  /* font-family: 'Quicksand', sans-serif;
  font-weight: bold; */
  /* font-family: 'Spectral SC', serif; */
  /* font-family: 'Cormorant Garamond', serif; */
}

/**=======Sections==========**/

.section {
  margin-top: 40px;
  margin-bottom: 20px;
  border-bottom: 1px ridge;
}

.section-title{
  margin: 0px auto;
  padding: 10px 0px;

}

.section-content{
  text-align: center;
  margin-left: 50px;
  margin-bottom: 30px;
}

.sect-content-title{
  margin: 20px;
}

.exp-desc{
  font-size: 14px;
}

.desc-img{
  width: 100%;
  align-items: center;
  display: inline-block;
  vertical-align: middle;
}
.experience-section{
  margin-left: 100px;
}

.experience-section, {
  color: black;
}
/**==Projects==**/
.projects{
  margin-left: 0px;
}
.project-content{
  margin-top: 20px;
  border-bottom: 1px ridge;
}
.right-border{
  border-right: 1px ridge;
}

/* .link-button{
  margin-bottom: 10px;
 width: 160px;
 height:160px;
 display:block;
  background: transparent url('assets/link.png');
}
*/
.proj-link{
  color: black;
}

.proj-link:hover{
  color: #99A8C9;
}
.link-button:hover {
   background: url('assets/link-blue.png') no-repeat;
   width: 10px;
   height: 10px;
}

.link-pic {
  width: 10px;
  height: 10px;
}
.proj-img{
  width: 130px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: .7s ease;
  backface-visibility: hidden;
}

.proj-img:hover {
  opacity: 0.3;
}

.built-tag{
  font-size: 14px;
  background-color: lightgrey;
  border: 3px solid lightgrey;
  line-height: 200%;
}
.project-desc{
  font-size: 14px;
}

/**========Skills Section ==========*/
.prof-level{
  margin-top: 4px;
}
/*.jumbotron .container {
  width: 1
}*/
